.newsletter {
    background: linear-gradient(0deg, rgba(202, 189, 197, 0.3), rgba(194, 193, 204, 0.116)), url(../../images/10.jpg);
    padding: 100px 0;
    background-position: bottom;

    @media (max-width: 1000px) {
        padding: 50px 20px;
    }

    @media (max-width: 600px) {
        padding: 30px 20px;
    }

    .wrapper {
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;

        p {
            color: #e5e2e2;
        }
    }
}

.text {
    color: #fff;
    max-width: 400px;
}

.field {
    width: 320px;
    margin-right: 20px;
    padding: 12px;
    border: 0px;
    border-radius: 2px;
    outline: none;
    color: #e5e2e2;
    font-size: 16px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);

    @media (max-width: 600px) {
        width: 100%;
        margin-bottom: 20px;
    }
}

.btn {
    padding: 13px 22px;
    border-radius: 2px;
    background-color: #e44867;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    border: 0;

    &:hover {
        background-color: darken(#e44867, 10%);
    }
}
