.PopularPlaces {
<<<<<<< HEAD
=======
    background-color: yellowgreen;
>>>>>>> acbefebd857f9e961b7d0d1fd55896c04d98b6db
    padding: 100px 50px;

    @media (max-width: 550px) {
        padding: 60px 15px;
    }

    .wrapper {
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
    }
}

.textarea {
    text-align: center;

    h2 {
        margin-bottom: 30px;
        font-size: 30px;
        letter-spacing: 2px;
    }
}

.placesGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .singlePlace {
        background-color: #fff;
        margin-bottom: 30px;
<<<<<<< HEAD
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.05);
        max-width: 315px;

        @media (max-width: 1086px) {
            width: 33%;
        }

        @media (max-width: 900px) {
            width: 48%;
            justify-content: space-around;
        }

        @media (max-width: 680px) {
            min-width: 100%;
        }
    }

    .imageBox {
        position: relative;

        // @media (max-width: 900px) {
        //     width: 48%;
        //     justify-content: space-around;
        //     padding: 10px 30px;
        // }

=======
    }

    .imageBox {
        max-width: 315px;
        position: relative;

>>>>>>> acbefebd857f9e961b7d0d1fd55896c04d98b6db
        span {
            position: absolute;
            top: 18px;
            left: 18px;
            background-color: #e44867;
            padding: 3px 10px;
            border-radius: 50px;
            color: #fff;
            font-size: 13px;
        }
    }

    .image {
        position: relative;
        width: 100%;
        height: 205px;
        object-fit: cover;
        display: block;

<<<<<<< HEAD
=======
        @media (max-width: 900px) {
            width: 48%;
        }

>>>>>>> acbefebd857f9e961b7d0d1fd55896c04d98b6db
        @media (max-width: 550px) {
            width: 100%;
        }
    }

    img {
        width: 100%;
<<<<<<< HEAD
        max-height: 250px;
=======
        height: 250px;
>>>>>>> acbefebd857f9e961b7d0d1fd55896c04d98b6db
        object-fit: cover;
        border-radius: 4px;
    }

    .textBox {
        padding: 10px;
<<<<<<< HEAD
        @media (max-width: 680px) {
            padding: 2px;
        }
=======
>>>>>>> acbefebd857f9e961b7d0d1fd55896c04d98b6db
    }
}

.buttonHolder {
    width: 100%;
    text-align: center;
}
