.VideoArea {
    background-image: url(../../images/water.jpg);
    height: 500px;
    display: flex;
    align-items: center;
    background-position: center;
    text-align: center;
    background-size: cover;
    justify-content: center;

    @media (max-width: 900px) {
        margin: 10px;
        object-fit: cover;
    }

    .video {
        text-decoration: none;
        color: white;
        font-size: 30px;
        font-style: italic;
    }
}
