.Testimonials {
    background-color: #f7fafd;
    padding: 100px 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);

    @media (max-width: 900px) {
        padding: 40px 10px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: 500px;
    }

    .User-image {
        height: 110px;
        width: 110px;
        padding: 5px;
        object-fit: cover;
        margin-bottom: 20px;
        position: relative;
    }
    .image {
        height: 100%;
        width: 100%;
        border-radius: 58%;
    }
}
